body {
	background: linear-gradient(to bottom, #ff00ff 0%, #9999ff 100%);
}

div.hoofd {
	background-color: black;
	color: white;
} 


div.b {
	background-color: black;
	color: white;
	text-align: center;
}

div.contact {
	background-color: black;
	color: white;
	text-align: center;

}

div.mustafa {
	background-color: black;
	color: white;
}

div.resultaat {
	background-color: black;
	color: white;
	width: 1500px;
	height: 400px;
}

div.tabelaf {
	background-color: black;
	color: white;
}

div.form{
	background-color: black;
	color: white;
}

a.link1 {
	background-color: white;
}

a.link2 {
	background-color: white;
}

table { 
	margin: 10px 0 30px 0;
	background-color: black;
	color: white;
}

table tr th, table tr td { 
  background-color: black;
  color: white;
  padding: 7px 4px;
  text-align: left;}

table tr td {
  background: black;
  color: white;
  border-top: 1px solid #FFF;}